<br />

<div>
    <input name="selectedUnit" ng-model="selectedUnit" />
    
    <select name="selectedDirection" ng-model="selectedDirection">
        <option value="UP">UP</option>
        <option value="DOWN">DOWN</option>
        <option value="LEFT">LEFT</option>
        <option value="RIGHT">RIGHT</option>
    </select>
    <div>{{selectedUnit}}</div>
    <div>{{selectedDirection}}</div>
       
</div>

<br />

<div>

    <button ng-click="startGame()">Start Game </button>
    <button ng-click="stopGame()">Stop Game </button>
    <button ng-click="startBinding()">Start Binding Standing </button>
    <button ng-click="stopBinding()">Stop Binding Standing </button>
    <p>{{ latestStanding()}} </p>
    
</div>